<!DOCTYPE html>

<html lang="pt" class="h-full w-full">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>zBot</title>
        <link rel="stylesheet" href="/static/css/output.css">
        <link rel="icon" type="image/ico" href="/static/images/icon.ico">
        <script type="module" src="/pages/zlogin" defer></script>
    </head>
    
    <body class="h-full w-full bg-gray-300 dark:bg-gray-900 overflow-hidden"></body>
    
</html>